@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Variable colors */
:root {
  /* ### Primary */
  --tomato: hsl(4, 100%, 67%);

  /* ### Neutral */
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

/* Style reset */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--charcoal-grey);
}

.main {
  background-color: var(--white);
  border-radius: 1.6em;
  margin: 5em auto;
  max-width: 55em;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.success {
  background-color: var(--white);
  border-radius: 2em;
  display: grid;
  max-width: 27em;
  padding: 2.5em 3.3em;
  margin: 5em auto;
}

.success h2 {
  color: var(--dark-slate-grey);
  font-size: clamp(2em, 7vw, 2.5em);
  line-height: 1;
}

.success p {
  color: var(--charcoal-grey);
  padding: 1.8em 0;
  font-weight: 500;
}

.email {
  color: var(--dark-slate-grey);
  font-weight: bold;
}

.success .btn {
  margin-top: 0.8em;
}

.success img {
  width: 15%;
  margin-bottom: 2em;
}

.form-wrapper {
  grid-column: 1/2;
  padding: 3.5em 2em;
  padding-right: 0;
}

.img-container {
  grid-column: 2/3;
  background-image: url(/public/images/illustration-sign-up-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.form-wrapper h2 {
  color: var(--dark-slate-grey);
  font-size: clamp(2em, 16vw, 3.5em);
}

.form-wrapper p {
  color: var(--dark-slate-grey);
  padding: 1.3em 0;
}

.form-wrapper ul {
  color: var(--dark-slate-grey);
  list-style-type: none;
}

.form-wrapper li {
  padding-bottom: 1em;
  display: flex;
  align-items: flex-start;
}

.form-wrapper img {
  margin-right: 1em;
}

label {
  /* display: block; */
  color: var(--dark-slate-grey);
  font-weight: 800;
  font-size: 0.8em;
}
form > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 1em 0 0.5em 0;
}

.error {
  font-size: 0.8em;
  font-weight: 500;
  color: red;
}

input {
  display: block;
  padding: 1.3em;
  width: 100%;
  border-radius: 0.4em;
  outline: 2px solid rgba(0, 0, 0, 0.1);
  border: 0;
}

input:focus {
  /* outline: 2px solid var(--grey); */
  border: 0;
}

.input-err {
  outline: 2px solid #fec0bb;
  border: 0;
  background-color: #ffe8e6;
  color: red;
}

.btn {
  background: var(--dark-slate-grey);
  padding: 1.3em;
  margin: 1em 0;
  width: 100%;
  color: var(--white);
  border-radius: 0.4em;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  transition-property: all;
  transition-duration: 0.5s;
}

.btn:hover {
  background: linear-gradient(#fb934a, #ff5b64);
}
